django==1.10.5
Pillow==4.0.0
djangorestframework==3.5.3
django-ipware==1.1.6
psycopg2==2.6.2
django-filter==1.0.1
Markdown==2.6.8
requests==2.13.0
boto3==1.4.4
django-storages==1.5.2
shortuuid==0.4.3
drfdocs==0.0.11
python-dateutil==2.6.0
celery==4.0.2
django-celery==3.2.1
oauth2client==4.0.0
pycpfcnpj==1.0.2
django-ses==0.8.1
pytz==2016.10
gunicorn==19.6.0
gevent==1.2.1
django_rest_swagger==2.1.1
django-compressor==2.1.1
slimit==0.8.1
csscompressor==0.9.4
redis==2.10.5
django_celery_results==1.0.1
django_celery_beat==1.0.1
pycurl==7.43.0
lxml==3.7.3
beautifulsoup4==4.6.0
django-elasticache==1.0.2
feedparser==5.2.1
sorl-thumbnail==12.3
django-haystack==2.6.1